body {
  margin: 0;
  font-family: "Orbitron", sans-serif;
  background-color: #0f111a;
  color: #fff;
}

.dashboard-container {
  padding: 20px;
}

h1 {
  text-align: center;
  color: #00ffcc;
  text-shadow: 0 0 10px #00ffcc;
  margin-bottom: 20px;
}

.map-container {
  height: 400px;
  margin-bottom: 20px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 30px #00ffccaa;
}

.tabla-container {
  max-height: 200px;
  overflow-y: scroll;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #1b1d2a;
  padding: 10px;
  box-shadow: 0 0 20px #00ffcc44;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px 12px;
  border-bottom: 1px solid #444;
}

th {
  background: #111;
  color: #00ffcc;
}

td button {
  background-color: #00ffcc;
  color: #0f111a;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

td button:hover {
  background-color: #00cc99;
  transform: scale(1.05);
}

.scatter-container {
  margin-top: 20px;
}

.btn-diagrama {
  background: #00ffcc;
  color: #0f111a;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.btn-diagrama:hover {
  background: #00cc99;
  transform: scale(1.05);
}
