/* Botones futuristas */
.futuristic-btn {
  text-transform: none;
  font-weight: 600;
  border-radius: 12px;
  padding: 6px 12px;
  background: linear-gradient(135deg, #00f0ff, #0066ff);
  color: #000;
  box-shadow: 0 0 5px #00fff0, 0 0 15px #0066ff;
  transition: all 0.2s ease;
}

.futuristic-btn:hover {
  background: linear-gradient(135deg, #0066ff, #00f0ff);
  transform: translateY(-2px);
  box-shadow: 0 0 10px #00fff0, 0 0 20px #0066ff;
}
